			*{
				font-family:Segoe UI;
				font-size:20px;
			}
			h2, h1{
				text-align:center;
				background-color:purple;
				color:white;
			}
			table{
				border:5px solid red;
				border-radius:5px 50px;
			}
			/* userdefined class in css */
			.right{
				text-align:right;
				font-weight:bold;	
			}
			.btn{
				background-color:purple;
				color:white;
				border-radius:10px 50px;
			}
			